@charset "UTF-8";

header{
    padding: 5vw;
}
nav{
    display: flex;
    border-bottom: 1px solid black;
}
#contas_container{
    margin-left: 70vw;
}
#contas_container>span{
    font-size: 3vw;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 3vw 0px;
}
h1{
    font-size: 6vw;
    text-align: center;
    padding-bottom: 3vw;
}
.evento{
    width: 90vw;
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.712);
    margin: auto;
}
.nome_organizador{
    font-size: 5vw;
    font-weight: bold;
    padding: 2vw 2vw 2vw 3vw;
}
#container_img_evento{
    margin: auto;
    width: 70vw;
}
.img_evento{
    width: 70vw;
    height: 40vw;
}
#container_info_evento{
    display: flex;
    justify-content: space-around;
}
.preco{
    padding: 1.5vw 0px 2vw 0px;
}
.data_evento{
    padding: 1.5vw 0px 2vw 0px;
}
#barra_lateral{
    width: 30vw;
    height: 12vw;
    background-color: rgba(0, 0, 0, 0.568);
    transform: translate(55vw, -51vh);
    color: white;
    border-radius: 5px 0px 5px 5px;
    padding: 5px;
}
#barra_lateral>p{
    padding: 2px;
    text-align: end;
}